
* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #b1e2f5;
	font-family: cursive;
}


/* .formulario button[type="submit"]:hover {
	background: #0051ff;
}

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
} 

.formulario input[type="radio"] {
	width: auto;
}
h1{
  text-align: center;
  margin-top: 40px;
}*/